{% extends "base.html"%}

{% block content %}
    <main>
        <a href="{% url "list_update_view_url" pk=todo_list.id %}">Edit</a>
        <a href="{% url "list_delete_view_url" pk=todo_list.id %}">Delete</a>
            <p>Your todo list: {{todo_list.name}}</p>
            {% for itm in todo_list.items.all %}
                <p> {{ itm.task }}
                <a href="{% url "item_update_view_url" pk=itm.id %}">Edit</a>
            {% endfor %}
        </main>
{% endblock content%}