<!DOCTYPE html>

<html lang="en">
    <head>
        <title>TodoList</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>